@import "./base.css";

.hero3 {
  background: linear-gradient(rgba(2, 2, 2, 0.336), rgba(10, 11, 12, 0.84)),
    url("/src/assets/images/hero1.jpeg") 50% no-repeat;
  background-size: cover;
  height: 100vh;
  background-attachment: fixed;
  background-position: center;

  @media (max-width: 600px) {
    background: linear-gradient(rgba(2, 2, 2, 0.336), rgba(10, 11, 12, 0.84)),
      url("/src/assets/images/hero2.jpeg") 50% no-repeat;
    height: 80vh;
    background-size: cover;
  }
}

.hero2 {
  background: linear-gradient(rgba(2, 2, 2, 0.336), rgba(10, 11, 12, 0.84)),
      url("/src/assets/images/hero3.jpeg") 50% no-repeat;
  background-size: cover;
  height: 80vh;
  height: 100vh;
  background-attachment: fixed;
  background-position: center;

  @media (max-width: 600px) {
    background: linear-gradient(rgba(2, 2, 2, 0.336), rgba(10, 11, 12, 0.84)),
      url("/src/assets/images/hero4.jpeg") 50% no-repeat;
    height: 80vh;
    background-size: cover;
  }
}

.hero1 {
  background: linear-gradient(rgba(2, 2, 2, 0.336), rgba(10, 11, 12, 0.84)),
    url("/src/assets/images/hero5.jpeg") 50% no-repeat;
  background-size: cover;
  height: 100vh;
  background-attachment: fixed;
  background-position: center;

  @media (max-width: 600px) {
    background: linear-gradient(rgba(2, 2, 2, 0.336), rgba(10, 11, 12, 0.84)),
      url("/src/assets/images/hero5.jpeg") 50% no-repeat;
    height: 80vh;
    background-size: cover;
  }
}
