@import "./base.css";

.hero3 {
  background: linear-gradient(rgba(2, 2, 2, 0.336), rgba(10, 11, 12, 0.84)),
    url("https://cdn.businessday.ng/2021/10/Untitled-design-2021-10-07T100255.303.png") 50% no-repeat;
  background-size: cover;
  height: 100vh;
  background-attachment: fixed;
  background-position: center;

  @media (max-width: 600px) {
    background: linear-gradient(rgba(2, 2, 2, 0.336), rgba(10, 11, 12, 0.84)),
      url("https://cdn.businessday.ng/2021/10/Untitled-design-2021-10-07T100255.303.png") 50% no-repeat;
    height: 80vh;
    background-size: cover;
  }
}

.hero2 {
  background: linear-gradient(rgba(2, 2, 2, 0.336), rgba(10, 11, 12, 0.84)),
    url("https://res.cloudinary.com/people-matters/image/upload/fl_immutable_cache,w_624,h_351,q_auto,f_auto/v1648688006/1648688004.jpg") 50% no-repeat;
  background-size: cover;
  height: 100vh;
  background-attachment: fixed;
  background-position: center;

  @media (max-width: 600px) {
    background: linear-gradient(rgba(2, 2, 2, 0.336), rgba(10, 11, 12, 0.84)),
      url("https://res.cloudinary.com/people-matters/image/upload/fl_immutable_cache,w_624,h_351,q_auto,f_auto/v1648688006/1648688004.jpg") 50% no-repeat;
    height: 80vh;
    background-size: cover;
  }
}

.hero1 {
  background: linear-gradient(rgba(2, 2, 2, 0.336), rgba(10, 11, 12, 0.84)),
    url("https://www.ft.com/__origami/service/image/v2/images/raw/https://specialist-asset-management.s3.amazonaws.com/tb/ezflow_site/storage/images/media/images/citi-offices/13195680-1-eng-GB/Citi-offices.jpg?source=specialist-tb-article&width=816") 50% no-repeat;
  background-size: cover;
  height: 100vh;
  background-attachment: fixed;
  background-position: center;

  @media (max-width: 600px) {
    background: linear-gradient(rgba(2, 2, 2, 0.336), rgba(10, 11, 12, 0.84)),
      url("https://www.ft.com/__origami/service/image/v2/images/raw/https://specialist-asset-management.s3.amazonaws.com/tb/ezflow_site/storage/images/media/images/citi-offices/13195680-1-eng-GB/Citi-offices.jpg?source=specialist-tb-article&width=500") 50% no-repeat;
    height: 80vh;
    background-size: cover;
  }
}
